.domino-regular {
  width: 70px;
  height: 30px;
}

.domino-double {
  width: 30px;
  height: 70px;
}

.domino {
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #494949;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  line-height: 1;
  user-select: none;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.domino:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.hand-boundary {
  max-width: 800px;
  min-height: 250px;
  border: dotted #ccc 2px;
  margin-top: 10px;
  border-radius: 6px;
}

.hand-my-turn {
  --color-a: #637c73;
  --color-b: #8c9275;
  background:
    linear-gradient(45deg, var(--color-a) 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, var(--color-a) 45px, transparent 45px, transparent 91px, var(--color-b) 91px, var(--color-b) 135px, transparent 135px),
    linear-gradient(-45deg, var(--color-a) 23px, transparent 23px, transparent 68px, var(--color-a) 68px, var(--color-a) 113px, transparent 113px, transparent 158px, var(--color-a) 158px);
  background-color: var(--color-b);
  background-size: 128px 128px;
}

.hidden {
  visibility: hidden;
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.controls>* {
  margin-left: 10px;
  margin-top: 10px;
}

.trains>* {
  margin-top: 10px;
}

.trains {
  margin-top: 3px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
}

.trains-dominos {
  margin-top: 17px !important;
}

.log {
  white-space: pre-wrap;
  margin-left: 8px
}

.log-container {
  margin-top: 17px;
  margin-left: 10px;
}

.log-header {
  margin-bottom: 4px;

}

.checkbox {
  padding-top: 5px;
}
