<div>
  Boneyard ({{dominosInBoneyard}})
</div>
<div *ngIf="trains && trains.length">
  Starting Domino: {{trains[0].startingDouble.left}}
</div>

<div class="trains">
  <ng-container *ngFor="let train of trains">
    <button [disabled]="!trainCanBePlayed(train)" (click)="toggleTrainToPlay(train)" mat-raised-button type="button"
      [color]="getTrainColor(train)">
      {{train.playerId}}
      <ng-container *ngIf="playerHandCounts.get(train.playerId) != null">
        ({{playerHandCounts.get(train.playerId)}})
      </ng-container>
    </button>

    <div class="trains-dominos">
      <app-train [train]="train"></app-train>
    </div>
  </ng-container>
</div>

<div class="hand-boundary">
  <div *ngFor="let domino of hand" class="domino" (click)="changeOrientation(domino)"
    [class.domino-regular]="!domino.isDouble" [class.domino-double]="domino.isDouble" [class.hidden]="domino.hidden"
    cdkDragBoundary=".hand-boundary" cdkDrag (cdkDragStarted)="dragStart(domino)" (cdkDragEnded)="dragEnd(domino)">
    {{domino.left}} - {{domino.right}}
  </div>
</div>


<div class="controls">
  <button (click)="drawDomino()" mat-raised-button type="button" color="warn">
    Draw Domino
  </button>
  <mat-checkbox [(ngModel)]="trainIsPublic">Public Train</mat-checkbox>
</div>