<div>
  <div *ngFor="let train of trains">
    <button [disabled]="!trainCanBePlayed(train)" (click)="toggleTrainToPlay(train)" mat-raised-button type="button"
      [color]="!trainToPlay ? 'primary' : 'warn'">
      {{train.playerId}}
    </button>

    {{train.startingDouble.left}}|{{train.startingDouble.right}}
    <span *ngFor="let domino of train.dominoes">
      {{domino.left}}|{{domino.right}}
    </span>
  </div>
</div>

<div class="example-boundary">
  <div *ngFor="let domino of hand" class="example-box" (click)="changeOrientation(domino)"
    [class.domino-regular]="!domino.isDouble" [class.domino-double]="domino.isDouble" [class.hidden]="domino.hidden"
    cdkDragBoundary=".example-boundary" cdkDrag (cdkDragStarted)="dragStart(domino)" (cdkDragEnded)="dragEnd(domino)">
    {{domino.left}} - {{domino.right}}
  </div>
</div>