.starting-domino {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: -3px;
}

.boneyard {
  margin-left: 10px;
  margin-bottom: 0px;
}

.divider {
  margin-left: 10px;
  margin-right: 10px;
}

.domino-regular {
  width: 70px;
  height: 30px;
}

.domino-double {
  width: 30px;
  height: 70px;
}

.domino {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 5px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  line-height: 1;
  user-select: none;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.domino:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.hand-boundary {
  max-width: 800px;
  min-height: 250px;
  border: dotted #ccc 2px;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}

.controls {
  margin-left: -10px;
  margin-top: 10px;
}

.controls>* {
  margin-left: 10px;
}

.trains>* {
  margin-top: 10px;
}

.trains {
  margin-top: 3px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 120px minmax(0, 1fr);
}

.trains-dominos {
  margin-top: 17px !important;
}

.log {
  white-space: pre-wrap;
  margin-left: 8px
}

.log-container {
  margin-top: 17px;
  margin-left: 10px;
}

.log-header {
  margin-bottom: 4px;

}
}
