.train-dominos-container {
  overflow-x: scroll;
  margin-left: 10px;
  margin-right: 15px;
}

.train-domino-inner {
  white-space: nowrap;
}

.double-warn {
  color: #f00;
  font-weight: bold;
}

.domino {
  display: inline-block;
  margin-right: .3em;
  vertical-align: middle;
}

.double {
  writing-mode: vertical-rl;
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
}
